.login {
  border: 2px solid #6B6E70;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.5rem;
  background-color: #474B4F;
  color: #86C232;
  padding-bottom: 40px;
}

/* refactor so CSS is DRY, fix height */
.register {
  border: 2px solid #6B6E70;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 450px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.5rem;
  background-color: #474B4F;
  color: #86C232;
  padding-bottom: 40px;
}

.register h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 450px;
  height: 300px;
  max-height: 500px;
  text-align: left;
  margin: 0 auto;
}

.field {
  width: 444px;
  height: 40px;
  font-size: 1.2rem;
  /* margin-bottom: 20px; */
  border: 2px solid #222629;
  border-radius: 5px;
}

.register-submit {
  margin: 20px auto;
  width: 450px;
  height: 45px;
  /* color: #222629; */
  color: white;
  background-color: #86C232;
  font-size: 1.4rem;
  border: 2px solid #222629;
  border-radius: 5px;
}

.register-submit:hover {
  background-color: #61892F;
}

/* having trouble setting a height, won't respond, auto-adjusts height instead :/ */
.field-wrap {
  /* border: 2px solid white; */
  width: 100%;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  height: 100px;
}

.errors {
  color: red;
  font-size: 1rem;
  /* border: 2px solid white; */
}

.redirect {
  font-size: 1rem;
  text-align: center;
  color: black;
}